extends layout

block content
  h1 Welcome to OrayKT Movie-Api services
  p Lets post `/register` to create an user
  p Than post with username , password `/authenticate` to get your x-access-token
  p Set it on Header as "x-access-token" : token
  p moredetails visit <a href="https://github.com/oraykt/MovieAPI-NodeJS">repository</a> on github
